body{
    font-family: 'Syne Mono', monospace;
}

/*  header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 10%;
    margin-right: 10%;
}
.creative-text{
    font-weight: bold;
    font-size: 30px;
}
.creative-text:hover{
    cursor: pointer;
    text-shadow: #c591f7 1px 0 10px;
}
.new-user{
    font-size: 20px;
}
.remove-txt-decoration{
    text-decoration: none;
    color: #6534d9;
}
.remove-txt-decoration:hover{
    cursor: pointer;
    font-weight: bold;
    text-shadow: #c591f7 1px 0 10px;
}

/*  body */

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3%;
}
.picture-container {
    width: 50%;
}
.img-propertie{
    width: 100%;
    object-fit: cover;
}
.form-container{
    width: 50%;
    /* margin-right: 12%; */
}

#wellcome-back-txt{
    font-weight: bold;
    font-size: 35px;
}
#login-to-continue-txt{
    color: #858794;
}
form{
    display: flex;
    flex-direction: column;
}
.input-propertie{
    margin-top: 40px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 30px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.input-propertie:hover{
    cursor: pointer;
}
.input-propertie:focus{
    outline: none;
    border: 2px solid #6534d9;
}
::placeholder{
    font-family: 'Syne Mono', monospace;
}
.btn-container{
    margin-top: 20px
}
.btn-container:hover{
    cursor: pointer;
}
.login-btn-shape{
    font-family: 'Syne Mono', monospace;
    color: white;
    border-radius: 40px;
    border: 0px;
    width: 30%;
    padding: 20px;
    background-color: #6534d9; 
    font-weight: bold;
    font-size: 20px; 
}
.login-btn-shape:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 1s;
}
#forget-pass-txt{
    margin-left: 30px;
    color: black !important;
}
.login-icons{
    display: flex;
    margin-top: 50px;
}
.login-icons > p{
    color: #858794;
    font-size: 15px;
}
.icon-container{
    margin-left: 50px;
}
.icon-container:hover{
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .form-container {
        width: 100%;
        text-align: center;
    }
    .picture-container {
        width: 100%;
        text-align: center;
    }
    .input-propertie {
        margin-inline: auto;
    }
    .icon-container{
        margin-inline: auto;
    }
    .login-icons p {
        display: none;
    }
}